* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header {
    background-color: blue;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

#rightCorner {
    display: flex;
    justify-content: flex-end;
    /* justify-content: flex-end; */
    align-items: center;
}

.controls , #leaveTest {
    
    height: 40px;
    margin: 0 10px 0 0;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 2px;
}

.controls {
    width: 90px;
}

#leaveTest {
    width: 70px;
    margin-left: 20px;
}

#testHeading {
    font-size: 30px;
    margin: 0 0 0 20px;
    letter-spacing: 2px;
    color: aliceblue;
}

#mainBody {
    display: flex;
    flex-direction: row;
    /* position: relative;
    top: 60px; */
    margin-top: 60px;
}

.questionBody {
    margin: 10px 5px 10px 5px;
    height: 75vh;
    border: 1px solid black;
    border-radius: 5px;
}

#questionPanel {
    width: 75%;
    /* height: 100px; */
    background-color: blueviolet;
}

#questionNoPanel {
    width: 25%;
    /* height: 100px; */
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionNoHeading {
    height: 60px;
    width: 100%;
    margin: 2px 2px 10px 2px;
    border-bottom: 2px solid white;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#questionButtonWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow-y: scroll;
}

#questionButtonWrapper::-webkit-scrollbar {
    width: 0.5em;
}

#questionButtonWrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

#questionButtonWrappert::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.questionNumbersInPanel {
    width: 23%;
    /* height: 85.4px; */
    height: 5vw;
    margin: 2px;
    font-size: 32px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(194, 168, 134);
}

#footer {
    font-size: 28px;
    background-color: coral;
    height: 7.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 5px 10px 5px;
    /* position: relative;
    top: 60px; */
    border: 1px solid black;
    border-radius: 5px;

}

#questionPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionAndOptionDisplay {
    width: 95%;
    height: 100px;
    background-color: aqua;
}

#questionDisplay {
    margin-top: 25px;
}

#optionDisplay {
    margin-top: 10px;
}

#herderRulerBetweenQuestionAndOptions {
    width : 95%;
    border: 1px solid black;
    margin: 10px 0 10px 0;
}